.home__text-title {
  width: 504px;
  height: 98px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
  margin: 0;
}