.header__menu-link_home {
  width: 45px;
  height: 22px;
  left: 0px;
  color: #DAA520;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}